:root{
    --cor1: rgb(212, 255, 0);
    --cor2: #ed0000;
    --cor3: #292929b8;
    --sombra:1px 1px 7px  rgba(0, 0, 0, 0.392); 
} 
*{
    padding: 0;
    margin: 0;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(45deg, black, white);
    background-size: cover;
     
    color: black;
    font-size: 1em;
    
}
#res,#del{
    font-size: 1.5em;
    font-weight: 200;
}


#corpo{
   
    
    
    font-size: 1em;
    text-align: center;
    color: #000000;
    background-color:var(--cor3);
    border-radius: 15px;
    margin: auto;
    padding: 10px;
    
    box-shadow: var(--sombra);
    min-width: 300px;
    max-width: 600px;
    

}
nav{
    font-weight: bold;

    text-align: center;
    padding: 10px;
    margin: 10px auto ;
    top: 76px;
    left: 20%;
    width: 100%;
}
nav > a{
    display: inline;
    position: absolute;
    transform: translate(-50%,-50%);
    margin-bottom: 5px;
    left: 50%;
    top: 80px;
    text-decoration: none;
    color: #0000009c;
    font-size: 0.9em;
    border-radius: 5px;
    background-color: var(--cor2);
    padding:2px;
    transition: 0.5s;
    box-shadow: var(--sombra);
   
}
nav>a:hover{

    background-color: #0000009c;
    color: var(--cor2);
    font-size: 12pt;
    transition: 0.5s;
    box-shadow: none;
}

#resultado{
    text-align: center;
    padding: 5px;
    width: 150px;
    margin: auto;
    box-shadow: var(--sombra);
}

input{
    display: inline-block;
    width: 30px;
    height: 30px;
    font-size: 16pt;
    border: none;
    border-radius: 5px;
    background-color: var(--cor2);
    transition: 0.3s;
    background-color: #ababab;
    
}
input:hover{
    background-color: var(--cor3);
    transition: 0.3s;
    border: none;
}



button{
font-size: 13px;
border: 1px solid black;
padding: 5px;
background-color:var(--cor2);
border-radius: 6px;
transition: 0.5s;
    
}
button:hover{
    background-color:#ffffff60 ;
    text-shadow: var(--sombra);
    transition: 0.5s;
}

#dados{
   font-size: 1.2em;
    border-radius: 13px;
    box-shadow: var(--sombra);
    padding: 10px;
}
#inter{
    font-size: 16pt;
}
#titulo{
    position: relative;
    background-color: var(--cor3);
    text-align: center;
   
    color: #0000009c;
    height: 105px;
   margin-bottom: 10px;
   box-shadow: var(--sombra);
   
              
}

#res{
    border-radius: 13px;
    box-shadow: var(--sombra);
    padding: 10px;
    margin-top: 20px;
    min-height: 100px;
    display: none;

}

#del{
    display: none;
    border-radius: 13px;
    box-shadow: var(--sombra);
    padding: 10px;
    margin-top: 20px;
    min-height: 100px;
}
footer{
    background-color: rgba(240, 248, 255, 0.301);
    text-align: center;
    margin-top: 15px;
    vertical-align: bottom;
    width: 400px;
    margin:auto;
}
.padding{
    padding: 15px;
}